<div *ngIf="!(show)">
  <app-loading></app-loading>
</div>

<div *ngIf="show as show">
  <h2>Voorstelling #{{ show._id }}</h2>
  <p>Film: <a routerLink="/movies/detail/{{ show.movieId }}">{{ show.movie.name }}</a></p>
  <p>Zaal: <a routerLink="/rooms/detail/{{ show.roomId }}">{{ show.room.name }}</a></p>
</div>
<button class="btn btn-secondary mt-5" routerLink="/shows">Terug</button>
