<div class="row float-right">
  <button type="submit" *ngIf="loggedInUser$ | async as user" class="btn btn-success mx-2" routerLink="create">Nieuwe
    Ticket</button>
  <button type=button class="btn btn-secondary mx-2" routerLink="..">Ga terug</button>
</div>
<h2>Tickets</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Voorstelling</th>
      <th>Zetel</th>
      <th>Gebruiker</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    <div *ngIf="!(tickets$ | async)">
      <app-loading></app-loading>
    </div>
    <tr *ngFor="let ticket of tickets$ | async">
      <td><a routerLink="detail/{{ ticket._id }}">Ticket</a></td>
      <td><a routerLink="/shows/detail/{{ ticket.showId }}">Voorstelling van {{ ticket.show!.movie.name }}</a></td>
      <td><a routerLink="/rooms/detail/{{ ticket.seatId }}">Zetel in {{ ticket.show!.room!.name }}</a></td>
      <td><a routerLink="/users/detail/{{ ticket.userId }}">{{ ticket.user!.name }} {{ ticket.user!.lastName }}</a></td>
      <td>
        <div *ngIf="loggedInUser$ | async as user">
          <button class="btn btn-secondary mx-2" routerLink="/tickets/{{ ticket._id }}/edit"><i class="fas fa-edit"></i> Bewerk</button>
          <button class="btn btn-danger mx-2" routerLink="/tickets/{{ ticket._id }}/delete"><i class="fas fa-trash-alt"></i> Verwijder</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
