<h2>Zalen</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Capiciteit</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    <div *ngIf="!(rooms$ | async)">
      <app-loading></app-loading>
    </div>
    <tr *ngFor="let room of rooms$ | async">
      <td><a routerLink="detail/{{ room._id }}">{{ room.name }}</a></td>
      <td>{{ room.capacity }}</td>
      <td>
        <div *ngIf="loggedInUser$ | async as user">
          <button class="btn btn-secondary mx-2" routerLink="/rooms/{{ room._id }}"><i class="fas fa-edit"></i> Bewerk</button>
          <button class="btn btn-danger mx-2" routerLink="/rooms/{{ room._id }}"><i class="fas fa-trash-alt"></i> Verwijder</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
