<div *ngIf="!(movie)">
  <app-loading></app-loading>
</div>

<div *ngIf="movie as movie">
  <h2>Film #{{ movie._id }}</h2>
  <img class="img-responsive" id="image" src="assets/img/{{ movie.image }}.png" alt="film_{{ movie.name }}" height="200px">
  <p id="title">Titel: {{ movie.name ? movie.name.charAt(0).toUpperCase() + movie.name.substr(1).toLowerCase() : '' }}</p>
  <p id="genre">Genre: <span class="{{ movie.genre }}">{{ movie.genre ? movie.genre.charAt(0).toUpperCase() + movie.genre.substr(1).toLowerCase() : '' }}</span></p>
  <p id="age">Minimale leeftijd: {{ movie.age }}</p>
  <p id="release-date">Datum van publicatie: {{ movie.releaseDate }}</p>
  <p id="created-by">Aangemaakt door: <a *ngIf="movie.created_by" routerLink="/users/detail/{{ movie.created_by }}">{{ movie.created_by }}</a><span *ngIf="!(movie.created_by)">-</span></p>
  <p id="updated-by">Geupdate door: <a *ngIf="movie.updated_by" routerLink="/users/detail/{{ movie.updated_by }}">{{ movie.updated_by }}</a><span *ngIf="!(movie.updated_by)">-</span></p>
  <p id="desc">Beschrijving: {{ movie.desc }}</p>
</div>
<button class="btn btn-secondary mt-5" id="return-button" routerLink="/movies">Terug</button>
