<h2>Voorstellingen</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Film</th>
      <th>Zaal</th>
      <th>Datum & tijd</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    <div *ngIf="!(shows$ | async)">
      <app-loading></app-loading>
    </div>
    <tr *ngFor="let show of shows$ | async">
      <td><a routerLink="/movies/detail/{{ show.movieId }}">{{ show.movie.name }}</a></td>
      <td><a routerLink="/rooms/detail/{{ show.roomId }}">{{ show.room.name }}</a></td>
      <td>{{ show.date }}</td>
      <td>
        <div *ngIf="loggedInUser$ | async as user">
          <button class="btn btn-secondary mx-2" routerLink="/shows/{{ show._id }}"><i class="fas fa-edit"></i> Bewerk</button>
          <button class="btn btn-danger mx-2" routerLink="/shows/{{ show._id }}"><i class="fas fa-trash-alt"></i> Verwijder</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
