<h2>Film</h2>
<div *ngIf="!(movie)">
  <app-loading></app-loading>
</div>

<div *ngIf="movie">
  <form (ngSubmit)="movieEditForm.form.valid && onSubmit()" #movieEditForm="ngForm" name="form" novalidate>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="name">Titel:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="movie.name" name="moviename" #moviename="ngModel" [ngClass]="{'is-invalid': moviename.invalid}" minlength="2" maxlength="100" placeholder="Titel" required autofocus>
      </div>
      <div *ngIf="moviename.invalid && moviename.touched" class="invalid-feedback">
        <div *ngIf="moviename.errors?.required">Filmtitel is vereist</div>
        <div *ngIf="moviename.errors?.minlength">
          Filmtitel moet ten minste 2 letters lang zijn.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="genre">Genre:</label>
        <select class="custom-select mr-sm-2" id="genre" name="moviegenre" [(ngModel)]="movie.genre" #moviegenre="ngModel" required>
          <option *ngFor="let genre of genres" [selected]="genre.selected == true" [value]="genre.shortname">{{ genre.longname }}</option>
        </select>
        <div *ngIf="moviegenre.invalid && moviegenre.touched" class="invalid-feedback">
          <div *ngIf="moviegenre.errors?.required">Genre is vereist</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="age">Minimale leeftijd:</label>
        <input type="number" class="form-control" id="age" [(ngModel)]="movie.age" name="movieage" #movieage="ngModel"
          [ngClass]="{'is-invalid': movieage.invalid}" placeholder="Minimale leeftijd" required min="3" max="18">
      </div>
      <div *ngIf="movieage.invalid && movieage.touched" class="invalid-feedback">
        <div *ngIf="movieage.errors?.required">Minimale leeftijd is vereist</div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="releaseDate">Datum van publicatie:</label>
        <input type="date" class="form-control" id="releaseDate" [(ngModel)]="movie.releaseDate" name="moviereleasedate" #moviereleasedate="ngModel"
               [ngClass]="{'is-invalid': moviereleasedate.invalid}" placeholder="Datum van publicatie" minlength="5" maxlength="100" required>
      </div>
      <div *ngIf="moviereleasedate.invalid && moviereleasedate.touched" class="invalid-feedback">
        <div *ngIf="moviereleasedate.errors?.required">Datum van publicatie is vereist</div>
        <div *ngIf="moviereleasedate.errors?.minlength">
          Datum van publicatie moet ten minste 3 letters lang zijn.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="desc">Beschrijving:</label>
        <input type="text" class="form-control" id="desc" [(ngModel)]="movie.desc" name="moviedesc" #moviedesc="ngModel"
          [ngClass]="{'is-invalid': moviedesc.invalid}" placeholder="Beschrijving" minlength="10" maxlength="255" required>
      </div>
      <div *ngIf="moviedesc.invalid && moviedesc.touched" class="invalid-feedback">
        <div *ngIf="moviedesc.errors?.required">Beschrijving is vereist</div>
        <div *ngIf="moviedesc.errors?.minlength">
          Beschrijving moet ten minste 3 letters lang zijn.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="image">Foto:</label>
        <input type="text" class="form-control" id="image" [(ngModel)]="movie.image" name="movieimage" #movieimage="ngModel"
          [ngClass]="{'is-invalid': movieimage.invalid}" placeholder="Titel" minlength="3" maxlength="100" required>
      </div>
      <div *ngIf="movieimage.invalid && movieimage.touched" class="invalid-feedback">
        <div *ngIf="movieimage.errors?.required">Foto is vereist</div>
        <div *ngIf="movieimage.errors?.minlength">
          Foto moet ten minste 3 letters lang zijn.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <button type="submit" id="movie-submit" class="btn btn-success mx-2" [disabled]="!movieEditForm.valid">Opslaan</button>
        <button type=button id="return-button" class="btn btn-secondary mx-2" routerLink="/movies">Ga terug</button>
      </div>
    </div>
  </form>
</div>
