<div class="text-center">
  <form class="form-signin" (ngSubmit)="registerForm.valid && onSubmit()" #registerForm="ngForm" name="form" novalidate>
    <h1 class="h3 mb-3 font-weight-normal">Registreren</h1>
    <div class="form-group">
      <label class="sr-only" for="email">E-mail:</label>
      <input type="email" class="form-control" [(ngModel)]="user.email" id="email" name="email" #email="ngModel" [email]="true"
        [ngClass]="{ 'is-invalid': submitted && email.invalid }" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="E-mail" required minlength="5" maxlength="100" autofocus />
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback">
        <div *ngIf="email.errors?.required">E-mail is vereist.</div>
        <div *ngIf="email.errors?.minlength">
          E-mail moet ten minste 5 letters lang zijn.
        </div>
      </div>
      <label class="sr-only" for="password">Wachtwoord:</label>
      <input type="password" class="form-control" [(ngModel)]="user.password" id="password" name="password"
        #password="ngModel" [ngClass]="{ 'is-invalid': submitted && password.invalid }" minlength="8" maxlength="100" placeholder="Wachtwoord"
        required />
    </div>
    <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
      <div *ngIf="password.errors?.required">Wachtwoord is vereist.</div>
      <div *ngIf="password.errors?.minlength">
        Wachtwoord moet ten minste 8 letters lang zijn.
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="name">Voornaam:</label>
      <input type="text" class="form-control" [(ngModel)]="user.name" id="name" name="name" #name="ngModel"
        [ngClass]="{ 'is-invalid': submitted && name.invalid }" placeholder="Voornaam" required minlength="2" maxlength="100" />
      <div *ngIf="name.invalid && name.touched" class="invalid-feedback">
        <div *ngIf="name.errors?.required">Voornaam is vereist.</div>
        <div *ngIf="name.errors?.minlength">
          Voornaam moet ten minste 2 letters lang zijn.
        </div>
      </div>
      <label class="sr-only" for="lastName">Achternaam:</label>
      <input type="text" class="form-control" [(ngModel)]="user.lastName" id="lastName" name="lastName"
        #lastName="ngModel" [ngClass]="{ 'is-invalid': submitted && lastName.invalid }" placeholder="Achternaam"
        required minlength="2" maxlength="100" />
      <div *ngIf="lastName.invalid && lastName.touched" class="invalid-feedback">
        <div *ngIf="lastName.errors?.required">Achternaam is vereist.</div>
        <div *ngIf="name.errors?.minlength">
          Voornaam moet ten minste 2 letters lang zijn.
        </div>
      </div>
      <label class="sr-only" for="birthdate">Geboortedatum:</label>
      <input type="date" class="form-control" [(ngModel)]="user.birthdate" id="birthdate" name="birthdate"
        #birthdate="ngModel" [ngClass]="{ 'is-invalid': submitted && birthdate.invalid }" placeholder="Geboortedatum" minlength="5" maxlength="100"
        required />
      <div *ngIf="birthdate.invalid && birthdate.touched" class="invalid-feedback">
        <div *ngIf="birthdate.errors?.required">E-mail is vereist.</div>
      </div>
      <label class="sr-only" for="phone">Telefoonnummer:</label>
      <input type="text" class="form-control" [(ngModel)]="user.phone" id="phone" name="phone" #phone="ngModel"
        [ngClass]="{ 'is-invalid': submitted && phone.invalid }" placeholder="Telefoonnummer" minlength="5" maxlength="12" required />
    </div>
    <div *ngIf="phone.invalid && phone.touched" class="invalid-feedback">
      <div *ngIf="phone.errors?.required">Telefoonnummer is vereist.</div>
      <div *ngIf="name.errors?.minlength">
        Telefoonnummer moet ten minste 3 letters lang zijn.
      </div>
    </div>
    <div class="col-auto">
      <button class="btn btn-lg btn-primary btn-block pm-3" [disabled]="!registerForm.valid" type="submit">
        Registreer
      </button>
    </div>
  </form>
  <a routerLink="/login">Al een account?</a>
</div>
