<div class="album py-5 bg-light">
  <div class="row float-right">
    <button type="submit" *ngIf="loggedInUser$ | async as user" class="btn btn-success mx-2" routerLink="create">Nieuwe Film</button>
    <button type=button class="btn btn-secondary mx-2" routerLink="..">Ga terug</button>
  </div>
  <div class="container">
    <h2>Films</h2>
    <div *ngIf="!(movies$ | async)">
      <app-loading></app-loading>
    </div>

    <div class="row">
      <div class="col-md-4" *ngFor="let movie of movies$ | async; let i = index">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="assets/img/placeholder.png" alt="film_{{ movie.name }}">
            <div class="card-body">
              <p class="card-text"><b>{{ movie.name }}:</b> {{ movie.desc }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button class="btn btn-sm btn-primary" routerLink="detail/{{ movie._id }}"><i class="fas fa-asterisk"></i> Bekijk</button>
                  <div *ngIf="loggedInUser$ | async as user">
                    <button class="btn btn-secondary" routerLink="{{ movie._id }}/edit"><i class="fas fa-edit"></i> Bewerk</button>
                    <button class="btn btn-danger" routerLink="{{ movie._id }}/delete"><i class="fas fa-trash-alt"></i> Verwijder</button>
                  </div>
                </div>
                <small class="{{ movie.genre }}">{{ movie.genre ? movie.genre.charAt(0).toUpperCase() + movie.genre.substr(1).toLowerCase() : '' }}</small>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
