<h2>Ticket</h2>
<div *ngIf="!(ticket)">
  <app-loading></app-loading>
</div>

<div *ngIf="ticket">
  <form (ngSubmit)="ticketEditForm.form.valid && onSubmit()" #ticketEditForm="ngForm" name="form" novalidate>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="show">Voorstelling:</label>
        <select class="custom-select mr-sm-2" id="show" name="ticketshowid" [(ngModel)]="ticket.showId"
          #ticketshowid="ngModel" required>
          <option *ngFor="let show of shows" [value]="show._id">
            Voorstelling van {{ show.movie.name }}</option>
        </select>
        <div *ngIf="ticketshowid.invalid && ticketshowid.touched" class="invalid-feedback">
          <div *ngIf="ticketshowid.errors?.required">Voorstelling is vereist</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="seat">Zetel:</label>
        <select class="custom-select mr-sm-2" id="seat" name="ticketseatid" [(ngModel)]="ticket.seatId"
          #ticketseatid="ngModel" required>
          <option *ngFor="let room of rooms" [value]="room._id">
            {{ room.name }}</option>
        </select>
        <div *ngIf="ticketseatid.invalid && ticketseatid.touched" class="invalid-feedback">
          <div *ngIf="ticketseatid.errors?.required">Voorstelling is vereist</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12 col-lg-4">
        <label for="user">Gebruiker:</label>
        <select class="custom-select mr-sm-2" id="user" name="ticketuserid" [(ngModel)]="ticket.userId"
          #ticketuserid="ngModel" required>
          <option *ngFor="let user of users" [selected]="user._id == currentUserId" [value]="user._id">
            {{ user.name }} {{ user.lastName }}</option>
        </select>
        <div *ngIf="ticketuserid.invalid && ticketuserid.touched" class="invalid-feedback">
          <div *ngIf="ticketuserid.errors?.required">Voorstelling is vereist</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-auto">
        <button type="submit" class="btn btn-success mx-2" [disabled]="!ticketEditForm.valid">Opslaan</button>
        <button type=button class="btn btn-secondary mx-2" routerLink="/tickets">Ga terug</button>
      </div>
    </div>
  </form>
</div>
