<h2>Gebruikers</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Email</th>
      <th>Telefoonnummer</th>
      <th>Acties</th>
    </tr>
  </thead>
  <tbody>
    <div *ngIf="!(users$ | async)">
      <app-loading></app-loading>
    </div>
    <tr *ngFor="let user of users$ | async">
      <td><a routerLink="detail/{{ user._id }}">{{ user.name ? user.name.charAt(0).toUpperCase() + user.name.substr(1).toLowerCase() : '' }} {{ user.lastName }}</a></td>
      <td><a href="mailto:test@live.nl">{{ user.email }}</a></td>
      <td><a href="tel:{{ user.phone }}">{{ user.phone }}</a></td>
      <td>
        <button class="btn btn-secondary mx-2" routerLink="{{ user._id }}/edit"><i class="fas fa-user-edit"></i> Bewerk</button>
        <button class="btn btn-danger mx-2" routerLink="{{ user._id }}/delete"><i class="fas fa-trash-alt"></i> Verwijder</button>
      </td>
    </tr>
  </tbody>
</table>
