<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1 id="aboutTitle">Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Bioscoop: Cinamanics</h3>
    <p>
      Cinamanics is een bioscoop waar men online een film kan uitkiezen en entree kaartjes kan regelen met daarbij de keuze om een vrije zitplaats uit te zoeken op een tijdstip wanneer een film speelt.
      Admins kunnen overigens films, tickets, zalen, voorstellingen en gebruikers aanmaken, aanpassen en verwijderen om de bioscoop online te updaten voor massa gebruik.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/img/placeholder.png"
          class="card-img-top rounded-circle border profile-pic"
          alt="pfp"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Jeffrey van der Wal</h5>
        <p class="card-text">
          Studentnummer: 2153361
        </p>
      </div>
    </div>
  </div>
</div>
<h3>Entiteiten</h3>
<p>De applicatie gebruikt de volgende entiteiten:</p>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Movie</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
      <li>image: string</li>
      <li>age: number</li>
      <li>releaseDate: date</li>
      <li>desc: string</li>
      <li>genre: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Ticket</p>
    <ul>
      <li>id: number</li>
      <li>showId: number</li>
      <li>seatId: number</li>
      <li>userId: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Room</p>
    <ul>
      <li>id: number</li>
      <li>name: string</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Seat</p>
    <ul>
      <li>id: number</li>
      <li>roomId: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Show</p>
    <ul>
      <li>id: number</li>
      <li>roomId: number</li>
      <li>movieId: number</li>
      <li>date: date</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>User</p>
    <ul>
      <li>id: number</li>
      <li>email: string</li>
      <li>password: string</li>
      <li>name: string</li>
      <li>lastName: string</li>
      <li>birthdate: date</li>
      <li>phone: string</li>
      <li>isAdmin: boolean</li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit:</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
