<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5 fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Cinamanics</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleCollapsed()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/"><fa-icon [icon]="faHome"></fa-icon> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/movies"><fa-icon [icon]="faFilm"></fa-icon> Films</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tickets"><fa-icon [icon]="faTicketAlt"></fa-icon> Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rooms"><fa-icon [icon]="faChair"></fa-icon> Zalen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/shows"><fa-icon [icon]="faCalendarTimes"></fa-icon> Voorstellingen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users"><fa-icon [icon]="faUserMd"></fa-icon> Gebruikers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about"><fa-icon [icon]="faInfoCircle"></fa-icon> Over</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li *ngIf="!(loggedInUser$ | async)" class="nav-item">
          <a class="nav-link" routerLink="/login" id="login-button"><fa-icon [icon]="faSignInAlt"></fa-icon> Login</a>
        </li>
        <li *ngIf="loggedInUser$ | async as user" class="nav-item">
          <a *ngIf="currentUserId" class="nav-link" role="button" routerLink="users/detail/{{ currentUserId }}">
            <fa-icon [icon]="faUser"></fa-icon> Ik
          </a>
        </li>
        <li *ngIf="loggedInUser$ | async as user" class="nav-item">
          <a class="nav-link" role="button" (click)="logout()">
            <fa-icon [icon]="faSignOutAlt"></fa-icon> Logout
          </a>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search">
      </form> -->
    </div>
  </div>
</nav>
