<div *ngIf="!(room)">
  <app-loading></app-loading>
</div>

<div *ngIf="room">
  <h2>Zaal #{{ room._id }}</h2>
  <p>Naam: {{ room.name }}</p>
  <p>Capeciteit: {{ room.capacity }}</p>
</div>
<button class="btn btn-secondary mt-5" routerLink="/rooms">Terug</button>
