<div *ngIf="!(ticket)">
  <app-loading></app-loading>
</div>

<div *ngIf="ticket as ticket">
  <h2>Ticket #{{ ticket._id }}</h2>
  <p>Voortstelling: <a routerLink="/shows/detail/{{ ticket.showId }}">Voorstelling van {{ ticket.show!.movie!.name }}</a></p>
  <p>Zetel: <a routerLink="/rooms/detail/{{ ticket.seatId }}">Zetel in {{ ticket.show!.room!.name }}</a></p>
  <p>Gebruiker: <a routerLink="/users/detail/{{ ticket.userId }}">{{ticket.user!.name}} {{ticket.user!.lastName}}</a></p>
  <p>Aangemaakt door: <a *ngIf="ticket.created_by"
      routerLink="/users/detail/{{ ticket.created_by }}">{{ ticket.created_by }}</a><span
      *ngIf="!(ticket.created_by)">-</span></p>
  <p>Geupdate door: <a *ngIf="ticket.updated_by"
      routerLink="/users/detail/{{ ticket.updated_by }}">{{ ticket.updated_by }}</a><span
      *ngIf="!(ticket.updated_by)">-</span></p>
</div>
<button class="btn btn-secondary mt-5" routerLink="/tickets">Terug</button>
