<div *ngIf="!(user)">
  <app-loading></app-loading>
</div>

<div *ngIf="user as user">
  <div class="row float-right">
    <a *ngIf="!(currentUserId == user._id)" class="btn btn-primary mx-2" role="button" (click)="follow()">Volg</a>
  </div>
  <h2>Gebruiker #{{ user._id }}</h2>
  <p>Naam: {{ user.name ? user.name.charAt(0).toUpperCase() + user.name.substr(1).toLowerCase() : '' }}
    {{ user.lastName }}</p>
  <p>Email: <a href="mailto:test@live.nl">{{ user.email }}</a></p>
  <p>Telefoonnummer: <a href="tel:{{ user.phone }}">{{ user.phone }}</a></p>
  <p>Geboortedatum: {{ user.birthdate }}</p>
  <p>Is een admin: <span *ngIf="user.isAdmin" >Ja</span><span *ngIf="!(user.isAdmin)">Nee</span></p>
  <div class="mt-5" *ngIf="tickets">
    <div *ngIf="currentUserId == user._id">
      <h2>Tickets van uw vrienden</h2>
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Vriend</th>
          <th>Ticket</th>
          <th>Voorstelling</th>
          <th>Zetel</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td><a routerLink="/users/detail/{{ ticket.userId }}">{{ ticket.user!.name }} {{ ticket.user!.lastName }}</a></td>
          <td><a routerLink="/tickets/detail/{{ ticket._id }}">Ticket</a></td>
          <td><a routerLink="/shows/detail/{{ ticket.showId }}">Voorstelling van {{ ticket.show!.movie!.name }}</a></td>
          <td><a routerLink="/rooms/detail/{{ ticket.seatId }}">Zetel in {{ ticket.show!.room!.name }}</a></td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
<button class="btn btn-secondary mt-5" routerLink="/users">Terug</button>

