.actie {
  color: red;
  font-weight: bold;
}

.horror {
  color: green;
  font-weight: bold;
}

.komedie {
  color: #ffc107;
  font-weight: bold;
}

.btn-primary {
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #c49508;
  border-color: #c49508;
}
.btn-secondary {
  background-color: #FF9114;
  border-color: #FF9114;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #b36610;
  border-color: #b36610;
}

.btn-primary:disabled {
  background-color: lightgrey;
  border-color: lightgrey;
}

.jumbotron {
  background-color: #7121FF;
  color: #ffffff;
}

/* Alerts */
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

/* Navbar */
.bg-dark {
  background-color: #7121FF !important;
}
