<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Cinamanics</h1>
      <p class="lead">Voor al uw spannende en indrukwekkende films terwijl u hunkerd naar popcorn met grote besparingen. Helaas nu tijdelijk gesloten wegens Corona.</p>
      <p>
        <a routerLink="/movies" class="btn btn-secondary my-2">Bekijk alle films</a>
      </p>
    </div>
  </section>

  <div class="container">
    <h2>Featured films</h2>
    <div class="row">
      <div class="col-md-4" *ngFor="let movie of movies$ | async; let i = index">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="assets/img/placeholder.png" alt="film_{{ movie.name }}">
          <div class="card-body">
            <p class="card-text"><b>{{ movie.name }}:</b> {{ movie.desc }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button class="btn btn-sm btn-primary" routerLink="/movies/detail/{{ movie._id }}"><i class="fas fa-asterisk"></i>
                  Bekijk</button>
                <div *ngIf="loggedInUser$ | async as user">
                  <button class="btn btn-secondary" id="movie-button" routerLink="/movies/{{ movie._id }}/edit"><i class="fas fa-edit"></i>
                    Bewerk</button>
                  <button class="btn btn-danger" routerLink="/movies/{{ movie._id }}/delete"><i class="fas fa-trash-alt"></i>
                    Verwijder</button>
                </div>
              </div>
              <small
                class="{{ movie.genre }}">{{ movie.genre ? movie.genre.charAt(0).toUpperCase() + movie.genre.substr(1).toLowerCase() : '' }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
